* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
section {
  position: relative;
  width: 80vw;
  height: 75vh;
  margin: 0 auto;
  background-color: rgba(240, 234, 189, 0.595);
}
section ul {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
section ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  background-image: radial-gradient(50% 50%, #fefefe, #72a4ef);
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 23px;
}
#buts {
  width: 150px;
  height: 150px;
}
#buts button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #57eebc;
  background-color: #91ebcd;
}
